.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 8px;
    color: black; 
  }
  
  .button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .message {
    margin-top: 20px;
    color: #4caf50;
  }
  
  .errorMessage {
    margin-top: 20px;
    color: red;
  }