# dependencies
node_modules/
jspm_packages/

# output
out/
dist/
*.tgz
*.tsbuildinfo

# coverage
coverage/
*.lcov
.nyc_output

# logs
logs
*.log

# caches
.cache
.parcel-cache
.eslintcache
.stylelintcache
.next/
.svelte-kit/
.docusaurus

# env
.env
.env.*
!.env.example

# terraform / db / locks / wrangler
.terraform
*.db
*.lock
bun.lockb
*.wrangler

# editors / OS
.idea
.DS_Store

# docs
docs/
