openapi: 3.0.0
info:
  title: Distributed Lock API
  description: Manage Distributed Locks
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://opensource.org/license/apache-2-0
servers:
  - url: https://resonatehq.io # Replace with your actual API base URL
    description: Website
security: [] # Explicitly state no security is required globally
paths:
  /locks/acquire:
    post:
      summary: Acquire lock
      description: Acquire a distributed lock
      operationId: acquireLock
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lock"
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lock"
        "400":
          description: Bad request - Invalid input or missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not found - The specified lock could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /locks/heartbeat:
    post:
      summary: heartbeat
      description: update heartbeat for all locks that match the processId
      operationId: heartbeat
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HeartbeatRequest"
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeartbeatResponse"
        "400":
          description: Bad request - Invalid input or missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not found - The specified lock could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /locks/release:
    post:
      summary: Release lock
      description: Release a distributed lock
      operationId: releaseLock
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReleaseLockRequest"
        required: true
      responses:
        "200":
          description: successful operation
        "400":
          description: Bad request - Invalid input or missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not found - The specified lock could not be found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    Lock:
      type: object
      properties:
        resourceId:
          type: string
        processId:
          type: string
        executionId:
          type: string
        expiryInSeconds:
          type: integer
          format: int64
        expiresAt:
          type: integer
          format: int64
          readOnly: true
      required:
        - resourceId
        - processId
        - executionId
        - expiryInSeconds

    HeartbeatRequest:
      type: object
      properties:
        processId:
          type: string
      required:
        - processId

    HeartbeatResponse:
      type: object
      properties:
        locksAffected:
          type: integer
          format: int64

    ReleaseLockRequest:
      type: object
      properties:
        resourceId:
          type: string
        executionId:
          type: string
      required:
        - resourceId
        - executionId

    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: string
