openapi: 3.0.0
info:
  title: Distributed Lock API
  description: Manage Distributed Locks
  version: 1.0.0
paths:
  /locks/acquire:
    post:
      summary: Acquire lock
      description: Acquire a distributed lock
      operationId: acquireLock
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lock"
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lock"

  /locks/heartbeat:
    post:
      summary: heartbeat
      description: update heartbeat for all locks that match the process_id
      operationId: heartbeat
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HeartbeatRequest"
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeartbeatResponse"

  /locks/release:
    post:
      summary: Release lock
      description: Release a distributed lock
      operationId: releaseLock
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReleaseLockRequest"
        required: true
      responses:
        "200":
          description: successful operation

components:
  schemas:
    Lock:
      type: object
      properties:
        resource_id:
          type: string
        process_id:
          type: string
        execution_id:
          type: string
        expiry_in_seconds:
          type: integer
          format: int64
        expires_at:
          type: integer
          format: int64
          readOnly: true
      required:
        - resource_id
        - process_id
        - execution_id
        - expiry_in_seconds

    HeartbeatRequest:
      type: object
      properties:
        process_id:
          type: string
      required:
        - process_id

    HeartbeatResponse:
      type: object
      properties:
        locksAffected:
          type: integer
          format: int64

    ReleaseLockRequest:
      type: object
      properties:
        resource_id:
          type: string
        execution_id:
          type: string
      required:
        - resource_id
        - execution_id
