openapi: 3.0.0
info:
  title: Schedules API
  version: 1.0.0
paths:
  /schedules:
    post:
      tags:
        - Schedules
      summary: Create a new schedule
      operationId: createSchedule
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Schedule"
        required: true
      responses:
        200:
          description: Operation deduplicated, Schedule fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        400:
          description: Invalid request
        403:
          description: Forbidden request
        409:
          description: Schedule already exists
    get:
      tags:
        - Schedules
      summary: Search schedules
      operationId: searchSchedules
      parameters:
        - $ref: "#/components/parameters/RequestIdHeader"
        - name: id
          in: query
          description: |
            Search schedules for matching IDs, can include wildcards.

            For example:
            - "foo/*" matches all IDs starting with "foo/"
            - "*/bar" matches all IDs starting with "bar/"
            - "foo/*/bar" matches all IDs starting with "foo/" and ending with "/bar"
          schema:
            type: string
        - name: tags
          in: query
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties:
              type: string
        - name: limit
          in: query
          description: Number of results
          schema:
            type: integer
        - name: cursor
          in: query
          description: Cursor for pagination
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchSchedulesResp"
        400:
          description: Invalid request

  /schedules/{id}:
    get:
      tags:
        - Schedules
      summary: Get a schedule
      operationId: getSchedule
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "200":
          description: Successfully retrieved the schedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "404":
          description: Schedule not found

    delete:
      tags:
        - Schedules
      summary: Delete a schedule
      operationId: deleteSchedule
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - $ref: "#/components/parameters/RequestIdHeader"
      responses:
        "204":
          description: Successfully deleted the schedule
        "404":
          description: Schedule not found

components:
  parameters:
    # PATH PARAMETERS
    IdPath:
      name: id
      in: path
      required: true
      description: The schedule ID
      schema:
        type: string

    # HEADER PARAMETERS
    IdempotencyKeyHeader:
      name: idempotency-key
      in: header
      description: Deduplicates multiple requests
      schema:
        type: string
    RequestIdHeader:
      name: request-id
      in: header
      description: Unique ID for each request
      schema:
        type: string

  schemas:
    Schedule:
      type: object
      required:
        - id
        - cron
        - promiseId
        - promiseTimeout
      properties:
        id:
          type: string
        description:
          type: string
        cron:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        promiseId:
          type: string
        promiseTimeout:
          type: integer
          format: int64
        promiseParam:
          $ref: "#/components/schemas/PromiseValue"
        promiseTags:
          type: object
          additionalProperties:
            type: string
        lastRunTime:
          type: integer
          readOnly: true
          format: int64
        nextRunTime:
          type: integer
          readOnly: true
          format: int64
        idempotencyKey:
          type: string
          readOnly: true
        createdOn:
          type: integer
          readOnly: true
          format: int64

    PromiseValue:
      type: object
      required:
        - headers
      properties:
        data:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string

    SearchSchedulesResp:
      type: object
      properties:
        cursor:
          type: string
        schedules:
          type: array
          items:
            $ref: "#/components/schemas/Schedule"
