# Release workflow is the main workflow that coordinates various GitHub workflows involved in a release of Resonate.
name: Release

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  check-version:
    uses: ./.github/workflows/release_check_version.yaml

  publish-dockerhub-image:
    needs: [check-version]
    uses: ./.github/workflows/release_publish_dockerhub_image.yaml
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit

  publish-github-image:
    needs: [check-version]
    uses: ./.github/workflows/release_publish_github_image.yaml
    with:
      tag: ${{ github.ref_name }}

  publish-github-artifacts:
    needs: [check-version]
    uses: ./.github/workflows/release_publish_github_artifacts.yaml
    with:
      tag: ${{ github.ref_name }}

  verify-github-artifacts:
    needs:
      [publish-dockerhub-image, publish-github-image, publish-github-artifacts]
    uses: ./.github/workflows/release_verify_artifacts.yaml
    with:
      tag: ${{ github.ref_name }}
