# Release workflow is the main workflow that coordinates various GitHub workflows involved in a release of Resonate.
name: Release Workflow

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish-github-image:
    uses: ./.github/workflows/release_publish_github_image.yaml
    with:
      tag: ${{ github.ref_name }}

  publish-github-artifacts:
    uses: ./.github/workflows/release_publish_github_artifacts.yaml
    with:
      tag: ${{ github.ref_name }}

  verify-github-artifacts:
    needs: [publish-github-image, publish-github-artifacts]
    uses: ./.github/workflows/release_verify_artifacts.yaml
    with:
      tag: ${{ github.ref_name }}
